<launch>
    <!-- 启动usb_cam节点 -->
    <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
    <!-- 启动二维码识别Python节点 -->
    <node pkg="ucar_camera" type="ucar_cam.py" name="ucar_cam" output="screen"/>

    <!-- 启动YOLO检测Python节点 -->
    <node pkg="ucar_object" type="object_selector.py" name="object_selector" output="screen"/>
</launch>
